
/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');



/*VARIABLES*/

/* FONT */
:root {
	--font-dm-mono: 'DM Mono', monospace;
  --font-playfair-display: "Playfair Display", serif;
}

/* FONT DETAILS */
:root {
--logo: 1.4em;
--nav: 1.05em;
--category-font-size: 2.8em;
--filter-font-size: 0.9em;
--item-font-size: 0.9em;
}

/* MARGINS */


/* DECOR */
:root {
  --background-color: #ffffff;
  --main-text-color: #89693A;
  --sub-text-color: #A49885;
  --category-text-color: #89693a47;
}

/* BODY */
body{
  background-color: var(--background-color);
}

/* STICKY HEADER */
.header-container {
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  z-index: 10000;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px 23px;
}

.logo{
  font-family: var(--font-playfair-display);
  font-weight: 400;
  font-size: var(--logo);
  color: var(--sub-text-color);
}

nav{
    display: flex;
    justify-content: center;
    font-family: var(--font-playfair-display);
    font-weight: 400;
    font-size: var(--logo);
    color: var(--main-text-color);
}

#menu:hover {
  color: var(--sub-text-color); 
  cursor: pointer;
}

.reset:hover {
  color: var(--sub-text-color); 
  cursor: pointer;
}


/* FOOD CATEGORY LIST */

h2{
  display: flex;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: 19px;
  font-family: var(--font-dm-mono);
  font-weight: 300;
  font-size: 0.8em;
  color: var(--sub-text-color);
}

.category-list-container {
  margin-top: -5px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center; 
}

.category-list{
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  max-width: 80%;
  font-family: var(--font-playfair-display);
  font-weight: 400;
  font-size: var(--category-font-size);
  color: var(--category-text-color);
  margin-bottom: -10px;
}

.category-list li{
  margin-right: 10px;
  margin-bottom: -12px;
}

.category-list li:hover {
  font-style: italic;
  color: var(--main-text-color);
  cursor: pointer;
}

.category-list li:active {
  font-style: italic;
  color: var(--main-text-color);
  cursor: pointer;
}

.category-list li button {
  cursor: pointer;
}

/* SUB FILTER LIST */
.filter-big-container {
  font-family: var(--font-dm-mono);
  font-weight: 400;
  font-size: var(--filter-font-size);
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 70px;
  margin-bottom: 40px;
}

.filter-small-container {
  font-family: var(--font-dm-mono);
  font-weight: 400;
  display: flex;
  color: var(--sub-text-color);
  justify-content: space-between;
}

.filter-small-container p {
  text-decoration: underline;
  text-transform: uppercase;
}

.select-container {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--category-text-color);
  padding: 10px;
  width: 100%;
  margin-right: 9px; 
}

.select-container:last-child {
  margin-right: 0; 
}

.select-label {
  top: 0;
  left: 0;
  pointer-events: none;
  transition: 0.2s ease-out;
  border-bottom: 1px solid var(--category-text-color);
  color: var(--sub-text-color);
}

.select-input {
  margin-top: 5px;
  color: var(--main-text-color);
}


/* ITEM INFORMATION */

.item-information{
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  font-family: var(--font-dm-mono);
  font-weight: 400;
  font-size: var(--filter-font-size);
}

.results-text{
  color: var(--sub-text-color);
}

.reset{
  color: var(--main-text-color);
}


/* FOOD IMAGES */

.food-grid {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr); 
  grid-gap: 20px; 
  row-gap: 40px;
  column-gap: 20px;
}

.item-container{
  display: flex;
  flex-direction: column;
}

.item-container img{
  object-fit: cover;
  aspect-ratio: 1/1;
}

.item-container h2{
  font-family: var(--font-dm-mono);
  font-weight: 400;
  font-size: var(--item-font-size);
  margin-top: 5px;
  color: var(--sub-text-color);
}


/* 701PX */
@media screen and (min-width: 450px) {

  .food-grid {
    grid-template-columns: repeat(2, 1fr); 
  }
  
}



@media screen and (min-width: 850px) {

  :root{
    --category-font-size: 4em; /*THIS*/
  }

  .category-list li {
    margin-right: 20px;
    margin-bottom: -20px;
  }

  .food-grid {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 45px;
    column-gap: 30px;
  }


  
}


@media screen and (min-width: 1200px) {

.category-list{
  max-width: 880px;
}

.filter-big-container {
  margin-top: 110px;
}

}