
/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');



/*VARIABLES*/

/* FONT */
:root {
	--font-dm-mono: 'DM Mono', monospace;
  --font-playfair-display: "Playfair Display", serif;
}

/* FONT DETAILS */
:root {
--logo: 1.4em;
--nav: 1.05em;
--category-font-size: 2.5em;
--filter-font-size: 1em;
}

/* MARGINS */
:root {

}

/* DECOR */
:root {
  --background-color: #F7F6F3;
  --main-text-color: #89693A;
  --sub-text-color: #A49885;
}

/* BODY */
body{
  background-color: var(--background-color);
}

/* STICKY HEADER */

.header-container {
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  z-index: 10000;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px 23px;
  color: var(--main-text-color);
}

.logo{
  font-family: var(--font-playfair-display);
  font-weight: 400;
  font-size: var(--logo);
}

nav{
  font-family: var(--font-dm-mono);
  font-weight: 400;
  font-size: var(--nav);
}

/* FOOD CATEGORY LIST */

.category-list-container {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center; 
}

.category-list{
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  max-width: 300px;
  font-family: var(--font-playfair-display);
  font-weight: 400;
  font-size: var(--category-font-size);
  color: var(--sub-text-color);
  margin-bottom: -10px;
}

.category-list li{
  margin-right: 10px;
  margin-bottom: -9px;
}

/* SUB FILTER LIST */

.filter-big-container {
  padding-left: 10px;
  padding-right: 10px;
  font-family: var(--font-dm-mono);
  font-weight: 400;
  font-size: var(--filter-font-size);
  margin-top: 70px;
  margin-bottom: 50px;
  display: flex;
  color: var(--sub-text-color);
}

.filter-small-container {
  font-family: var(--font-dm-mono);
  font-weight: 400;
  font-size: var(--filter-font-size);
  padding-left: 15px;
  display: flex;
  justify-content: space-between; 
  color: var(--sub-text-color);
  flex-grow: 1; 
  justify-content: space-around;
}

.filter-small-container p {
  text-decoration: underline;
}